/* FOOTER */

.footer {
    padding: 2em 0;
    background: $gray;
    // .footer__flex-container
    &__flex-container {}
    // .footer__item
    &__item {
        &:first-child .footer__list:first-child {
            margin-right: 50px;
        }
        &:last-child .footer__contact-num {
            margin-bottom: 1em;
        }
    }
    // .footer__title
    &__title {
        font-size: 1.6em;
        margin-bottom: 1em;
    }
    // .footer__list
    &__list {}
    // .footer__list-item
    &__list-item {
        margin-bottom: 5px;
    }
    @media screen and (max-width: 998px) {
        &__item:last-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 100%;
            margin-top: 2em;
        }
    }
    @media screen and (max-width: 700px) {
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex-basis: 100%;
            &:first-child {
                margin-bottom: 1em;
                .flex-container {
                    flex-direction: column;
                }
                .footer__list:first-child {
                    margin: 0;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-num {
    display: flex;
    align-items: center;
    // .contact-num__img
    &__img {
        margin-right: 1.5em;
    }
    // .contact-num__num
    &__num {
        color: #ffffff;
        font-size: 1.9em;
        text-decoration: none;
    }
}